<div class="max-w-screen-lg mx-auto mt-20" data-controller="carousel">
  <h2>Pets</h2>
  <p>Experience the joy and companionship of animals.</p>
  <div class="flex">
    <div
      data-action="click->carousel#previous"
      class="
        text-5xl
        flex
        justify-center
        items-center
        cursor-pointer
        p-2
        relative
        -top-8
      "
    >
      <i class="fa fa-angle-left"></i>
    </div>
    <div
      data-carousel-target="carousel"
      class="
        scroll-smooth
        flex-1
        mt-4
        flex
        w-full
        gap-4
        pb-5
        snap-x
        overflow-x-auto
      "
    >
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band1.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band2.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band3.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band4.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band5.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band6.jpg"
      } %>
      <%= render partial: "pet",
      locals: {
        name: "Snickerdoodle",
        caption: "Look at little snickers, so cute!",
        filename: "band7.jpg"
      } %>
    </div>
    <div
      data-action="click->carousel#next"
      class="
        text-5xl
        flex
        justify-center
        items-center
        cursor-pointer
        p-2
        relative
        -top-8
      "
    >
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
